body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: steelblue;
    color: #f5f5f5;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px gray;
}